{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/Emergency.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="header">
    <h2 class="main-title">Emergency Animal</h2>
</div>

<!--Row with two equal columns-->


<div class="row">
    <div class="col-md-4">
        <h2 class="main-title">Location</h2>
        <div class="wrapper">
            {% for location in Locations %}
            <div class="card">
                <img src="{{location.picture.url}}" alt="">
                <div class="content">
                    <h4>{{location.name}}</h4>
                    <p>Phone Number : {{location.mobile}}</p>
                    <p>Address : {{location.address}}</p>
                    <p>Website : <a href="{{location.website_link}}" target="blank">{{location.website_link}}</a></p>
                    <p>Open From : {{location.work_hours_start}}-{{location.work_hours_start_period}}</p>
                    <p>To : {{location.work_hours_end}}-{{location.work_hours_end_period}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8 doctor" id="doc">
        <h2 class="main-title">Doctors</h2>
        <div class="demo-content bg-alt">
            <div class=" text-center m-auto col-md-4 col-sm-7 col-xs-12">
                <div class="testimonials" id="testimonials">

                    <div class="container container1">
                        {% for vet in vets %}
                        <div class="box">
                            <img src="{{vet.profile_pic.url}}" alt="" />
                            <h3>Vet Name : {{vet.firstname}}</h3>
                            <span class="title">Specialization : {{vet.specialization}}</span>
                            <p>Phone : {{vet.mobile}}</p>
                            <div class="mt-2">
                                <button type="button" class="btn btn-primary" id="{{vet.username}}"
                                    onclick="myFunction(this.id)">chat</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- CHAT -->
    <div class="col-md-4 ">
        <div class="pad">
            <div class="row d-flex justify-content-center chats">
                <div class="col-md-12">
                    <div class="cards card-bordered" id="card_chat">
                        <div class="card-header">
                            <h4 class="card-title"><strong class="text-white" id="receiver-name">Chat</strong></h4>
                            <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Prescription Medication</a>
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeWindow()">
                            </button>
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                            style="overflow-y: scroll !important; height:400px !important;">
                            <div class="media media-chat">
                                <div class="media-body" id="MessageDiv">
                                </div>
                            </div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body" id="MessageDivReverse">
                                </div>
                            </div>
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light">
                            <form action="">
                                <input class="publisher-input" type="text" placeholder="Write something" id="Message">
                                <a class="publisher-btn text-info" href="#" data-abc="true">
                                    <i class="fa fa-paper-plane" onclick="sendMessage()"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<script>
    var input = document.getElementById("Message");
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            sendMessage()
        }
    });

    function myFunction(vet) {
        document.getElementById("card_chat").style.display = "block";
        document.getElementById("doc").setAttribute("class", "col-md-4");
        // document.getElementById("title").setAttribute("class", "d-block main-title");
        ViewMessage(vet)
    }

    function closeWindow() {
        document.getElementById("card_chat").style.display = "none";
        document.getElementById("doc").setAttribute("class", "col-md-8");
        // document.getElementById("title").setAttribute("class", "d-none");
    }

    function ViewMessage(vet_username, add = false, newMessage = "") {
        $.ajax({
            url: "/getVetFirstName/" + vet_username,
            success: function (data) {
                console.log("Vet First Name : " + data.vet.firstname);
                document.getElementById("receiver-name").innerHTML = data.vet.firstname;
            }
        })
        // GET MESSAGES
        $.ajax({
            url: "/viewMessages/",
            success: function (data) {
                console.log("Data Of View Messages : ")
                console.log(data.Messages, typeof (data.Messages))
                // UPDATE CHATBOX
                if (add == false) {
                    for (const key in data.Messages) {
                        // console.log(`${key}: ${data.Messages[key].content}`);
                        const para = document.createElement("p");
                        para.innerHTML = data.Messages[key].content;
                        const time = document.createElement("p");
                        month = data.Messages[key].date.split("-")[1]
                        day = data.Messages[key].date.split("-")[2]
                        day = day.split("T")[0]
                        time.innerHTML = month+"/"+day;
                        time.classList.add("meta");
                        const sender = document.createElement("p");
                        sender.innerHTML = data.Messages[key].sender;
                        sender.classList.add("meta");
                        if (data.Messages[key].sender == "{{request.session.username}}") {
                            document.getElementById("MessageDivReverse").appendChild(sender);
                            document.getElementById("MessageDivReverse").appendChild(para);
                            document.getElementById("MessageDivReverse").appendChild(time);
                        } else {
                            document.getElementById("MessageDiv").appendChild(sender);
                            document.getElementById("MessageDiv").appendChild(para);
                            document.getElementById("MessageDiv").appendChild(time);
                        }
                    }
                } else {
                    const para = document.createElement("p");
                    para.innerHTML = newMessage;
                    document.getElementById("MessageDivReverse").appendChild(para);
                }
            }
        })
    }


    function sendMessage() {
        if (document.getElementById("Message").value == '?'){
            document.getElementById("Message").value = '؟'
        }
        $.ajax({
            url: "/sendMessage/message=" + String(document.getElementById("Message").value),
            success: function (data) {
                ViewMessage(data.message.vet, true, document.getElementById("Message").value)
                document.getElementById("Message").value = ""
                console.log("Data Of Send Messages : ")
                console.log(data)
            }
        })
    }
</script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{%endblock%}