{%extends 'base.html'%}
{%block title%}
Register for User
{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" href=" {% static 'Registration.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b5c82d464c.js" crossorigin="anonymous"></script>
    <div class="container container1">

        <div class="title">Registration for Users</div>
        <h5>Are you A Veterenarian <a href="/registervet/">Register Here</a></h5>
        <form action="/register/" method="post" id="myform" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="user-details">

                <div class="input-box">
                    <span class="details">UserName *</span>
                    <input type="text" placeholder="Enter Your UserName" name="username" >
                    <span class="text-danger">{{errusername}}</span>

                </div>


                <div class="input-box">
                    <span class="details">First Name *</span>
                    <input type="text" placeholder="Enter Your first Name" id="name" name="firstname">
                    <p id="nameerr"></p>
                    <span class="text-danger">{{errfirstname}}</span>
                </div>
                <div class="input-box">
                    <span class="details">last Name *</span>
                    <input type="text" placeholder="Enter Your last Name" id="user" name="lastname">
                    <p id="usererr"></p>
                    <span class="text-danger">{{errlastname}}</span>

                </div>

                <div class="input-box">
                    <span class="details">Email *</span>
                    <input type="text" placeholder="Enter Your Email" id="email" name="email">
                    <p id="emailerr"></p>
                    <span class="text-danger">{{erremail}}</span>
                </div>


                <div class="input-box">
                    <span class="details">Phone Number *</span>
                    <input type="text" placeholder="Enter Your egyption PhoneNumber" id="phone" name="mobile">
                    <p id="phoneerr"></p>
                    <span class="text-danger">{{errmobile}}</span>
                </div>
                <div class="input-box">
                    <span class="details">Password *</span>
                    <input type="password" placeholder="Enter Your Password" id="pass1" name="password">
                    <p id="pass1err"></p>
                </div>

                <div class="input-box">
                    <span class="details">Confirm Password *</span>
                    <input type="password" placeholder="Confirm Your Password" id="pass2" name="confirmpassword">
                    <p id="pass2err"></p>
                    <span class="text-danger">{{errnotequal}}</span>
                </div>


                <div class="my-2 ">
                    <span class="details">upload a profile pic.</span>
                    <input type="file" placeholder="upload" id="file" name="profile_pic" >
                    <p id="fileerr"></p>
<!--                    accept="image/png, image/jpeg"-->
                </div>




                <div class="mb-3 input-box">
                    <label for="bdate" class="form-label label1">Birth Date</label>
                    <input type="date" class="form-control" id="bdate" aria-describedby="emailHelp"
                        placeholder=" Birth Date" name="b_date">
                </div>
                <div class="mb-3 input-box">
                    <label for="country" class="form-label label1">Country</label>
                    <input type="text" class="form-control" name="country" id="Country" aria-describedby="emailHelp" placeholder="Country">
                </div>
                <div class="mb-3 input-box">
                    <label for="faceLink" class="form-label label1">Facebook Link</label>
                    <input type="url" class="form-control" id="faceLink" aria-describedby="emailHelp"
                        placeholder="http//www.Facebook.com/fn.page" name="face_link">
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Register"     id="submitbtn">
            </div>


            <p id="submiterror"></p>
        </form>
    </div>

    <script src=" {% static 'Regestration.js' %}"></script>

{%endblock%}