{%extends 'base.html '%}

{%load static%}
{%block title%}
    Welcome
    {%endblock%}
{%block link%}
<!--    <link rel="stylesheet" href="{%static 'welcome.css'%}">-->
    <link rel="stylesheet" href="{%static 'css/welcome.css' %}">





{%endblock%}

    {%block content%}
<div style="background-image: url(" {% static 'imgs/111.jpg'%}")>


    <div class="container-fluid">
        <div class="head">
            <h1 id="web">WELCOME TO ACC <span class="span1">WEBSITE</span></h1>
            <p class="para">Please Verify Your Account And Login</p>
            <a href="http://127.0.0.1:8000/logingeneral">
                <button class="btn btn-primary">LOGIN</button>
            </a>
        </div>
    </div>
</div>

    <style>
        body{
            background-color: #ececec;
            background-image: url(" {% static 'imgs/111.jpg'%}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>


{%endblock%}
