@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;0,800;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282f3b;
}

body {
    display: flex;
    /* height: 140vh; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #575d57, #414d63);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 50px;
    background: linear-gradient(135deg, #575d57, #414d63);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.userrnamee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    width: calc(100% - 40px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #414d63;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;

}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 15px 0;
    justify-content: space-between;

}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 20px;
    width: 20px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
   border-color: #d9d9d9;
   background-color: #414d63; 
}

form input[type="radio"] {
    display: none;
}


form .button {
    height: 45px;
    margin: 45px 0;
}
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #414d63, #414d63);
}

form .button input:hover {
    background: linear-gradient(135deg, rgb(255, 0, 157), #27ac16);
    
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    } 
    form .gender-details .category {
        width: 100%;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 80px;
    }
}


#myform p{
    display: none;
}


.error{
    border: 5px solid red;

}

.success{
    border: 5px solid green;
}



input:focus{
    outline: none;
}


#file{
    background-color: #f5af1b;
    font-size: 0.8rem;
}


/* #errfile{
    display: none;
} */